<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="assets/css/styles.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="vue-animate.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.2/css/mdb.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
</head>

<body>

    <div id="vue-app">

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6>Email</h6>
                        <h5 class="modal-title" id="exampleModalLabel">Aqua Experts</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="closeModal" aria-hidden="true">&times;</span>
                          </button>
                    </div>
                    <!-- Display for modal body -->
                    <div>
                        <p class="h6 text-left mb-4">Fill out the form below and Aqua Experts will get in touch.</p>
                    </div>
                    <div class="modal-body">


                        <form>

                            <div class="md-form">
                                <i class="fa fa-user prefix grey-text"></i>
                                <input type="text" id="form3" class="form-control">
                                <label for="form3">First and Last Name</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-envelope prefix grey-text"></i>
                                <input type="text" id="form2" class="form-control">
                                <label for="form2">Email</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-tag prefix grey-text"></i>
                                <input type="text" id="form32" class="form-control">
                                <label for="form34">Subject</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-pencil prefix grey-text"></i>
                                <textarea type="text" id="form8" class="md-textarea" style="height: 100px"></textarea>
                                <label for="form8">Your message</label>
                            </div>

                            <div class="text-center">
                                <button class="btn btn-unique">Send <i class="fa fa-paper-plane-o ml-1"></i></button>
                            </div>

                        </form>
                        <!-- Form contact -->

                    </div>


                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
        <header>
            <!-- Display for secondary Nav -->
            <div class="navTop">
                <div class="navTop-ul">
                    <ul>
                        <li>Dealers and Distributors</li>
                        <li>Commercial Services</li>
                        <a href=""><i class="ion-share"></i><li></li></i></a>
                    </ul>
                </div>

            </div>

            <!-- Display for navbar -->
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>



                <a class="navbar-brand" href="#"><span id="navBrand">POOL</span>PROS</a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Pools & Spas <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Supplies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Resources</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" v-model="search" placeholder="Zip Code">
                        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                    </form>
                </div>
            </nav>

            <div class="banner"></div>

        </header>

        <div class="content">
            <!-- Display section for dropdown checkbox filter -->
            <div class="filterContainer">
                <div class="filter">

                    <div class="filter-one">
                        <h4>{{ filteredDealers.length }} dealers in {{ search }}</h4>
                    </div>
                    <h4 id="filter-title">Filter Results</h4>

                    <div class="form-check form-check-inline filter two" v-for="cert in getCerts">
                        <input type="checkbox" id="{{ key++ }}" value="{{ cert }}" v-model="checkedCerts">
                        <label for="{{ key }}">{{ cert }}</label>
                    </div>
                </div>

            </div>

            <!-- Display section for dealer cards -->
            <div class="providers">

                <!--Card-->
                <div v-for="dealer in filteredDealers" class="cardContainer">

                    <div class="card">

                        <!--Card image-->
                        <div id="title">
                            <h2 class="card-title">{{ dealer.data.name }}</h4>
                                <hr>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <h3 class="card-phone"><i class="ion-android-call"></i>{{ dealer.data.phone1 }}</h3>
                            <!--Text-->
                            <p class="card-text"><em>Can't talk now? Click below to send an email.</em></p>
                            <a href="#" class="btn btn-outline-info waves-effect" data-toggle="modal" data-target="#exampleModal"><i class="ion-email"></i></i>Contact this Pro</a>
                            <h3 class="busHours">Business Hours</h3>
                            <ul id="hours">
                                <li>Weekdays {{ dealer.data.weekHours.mon }}</li>
                                <li>Saturdays {{ dealer.data.weekHours.sat }}</li>
                                <li>Sundays {{ dealer.data.weekHours.sun }}</li>
                            </ul>
                        </div>

                        <div class="card-footer">
                            <ul>
                                <li v-for="cert in dealer.data.certifications">{{ cert }}</li>
                            </ul>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>

            </div>
        </div>

    <footer class="footer">
        <div>
            <h1><span class="footerTitle">POOL</span>Pros</h1>
            <h3>CONNECT WITH US</h3>
            <ul>
                <a href="">
                    <li><i class="ion-social-twitter"></i></li>
                </a>
                <a href="">
                    <li><i class="ion-social-facebook"></i></li>
                </a>
                <a href="">
                    <li><i class="ion-social-youtube"></i></li>
                </a>
            </ul>
            <div class="footer secondary">
                <ul>
                    <li>&copy; 2017 Pool Pros</li>
                    <a href="">
                        <li>Privacy Policy</li>
                    </a>
                    <a href="">
                        <li>Terms and Conditions</li>
                    </a>
                </ul>

            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.2/js/mdb.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>